* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 21cm;
  min-height: 29.7cm;
  padding:2cm;
  margin: 1cm auto;
  position: relative;
  background-color:cyan;
  border-top:5px solid #b30000;
  border-bottom:5px solid #b30000;
}



img{
	position:relative;
	height: auto; 
    width: auto; 
	margin-top: -555px;
	margin-left: -30px;
    max-width: 130px; 
    max-height: 130px;
}

b {
	position:absolute;
	margin-left:110px;
	margin-top:-20px;
	font-size:18px;
}

hr{
	height:5px;
	background-color:black;
	width:115%;
	margin-left:-50px;
}

i{
	color:blue;
	font-size:15px;
	
}

